

.section-book{
  padding:15rem 23rem;
  background-image: linear-gradient(to right bottom,#74ebd5,#acb6e5);
  background-size: cover;

}

.book{
  height: 100vh;
  background-image: linear-gradient(105deg,
  rgba(#eee, .6) 0%,
  rgba(#eee, .6) 60%,
  transparent 60%),
  url(../img/beau.jpg);
  background-size: 100%;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(#333, .2);
  height: 50rem;
  width: 70rem;

  &_form{
    width: 50;
    padding: 6rem;
  }
}
.u-margin-bottom-medium { margin-bottom: 1rem !important;
                         margin-top: -3rem;
 }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right,#7F00FF, #E100FF);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .2rem;
  transition: all .2s;

  &:hover {
      transform: skewY(2deg) skewX(15deg) scale(1.1);
      text-shadow: .5rem 1rem 2rem rgba(#333, .2);
  }
}

.form{

  &_group:not(:last-child){
    margin-bottom: 1rem;

  }

  &_input{
    font-size: 1.5rem;
    font-family: inherit;
    color: #E100FF;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    background-origin: rgba(#eee,.5);
    border: none;
    border-bottom: 3px solid transparent ;
    width: 40%;
    display: block;

    &:focus{
      outline: none;
      box-shadow: 0 1rem 2rem rgba(#333,.1);
      border-bottom: 3px solid #45a247 ;
    }

    &:focus:invalid{
      border-bottom: 3px solid #D76D77 ;
    }

    &::-webkit-input-placeholder{
      color: #999;
    }
  }

  &_label{
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: .7rem;
    display: block;
    transition: all .3s;
  }

  &_input:placeholder-shown + &_label{
    opacity: 0;
    visibility:hidden;
    transform: translateY(-4rem);

  }
}

@import './button.scss';



