
 <section class="section-book">
      <div class="row">
        <div class="book">
          <div class="book_form">
            <form class="form">
              <div class="u-margin-bottom-medium">
                <h2 class="heading-secondary">
                  Login
                </h2>
              </div>
              <div class="form_group">
                <input type="email" class="form_input" placeholder="Email Address" id="email" required>
                <label for="email" class="form_label">E-mail</label>
              </div>
              <div class="form_group">
                <input type="password" class="form_input" placeholder="Password" id="password" required>
                <label for="password" class="form_label">Password</label>
              </div>
              <div class="form_group">
                <button class="btn btn-green">Login</button>
              </div>
              <div class="form_group">
                <button class="btn btn-green">Register</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>


